.env
.idea/
/coverage
/node_modules
/bower_components
/dist
/output
/src/compiled
/typings
.DS_Store
/src/assets/styles/*.css
/src/**/*.ngfactory.js
/src/**/*.ngfactory.ts
/src/**/*.ngfactory.js.map
/src/**/*.metadata.json
/src/**/*.js.map
/src/**/*.js
/src/**/*.shim.ts
